<div class="_border-dotted">
    <div class="_bg-light-gray">
        <chapter caption="Робот вычислил дату конца света">
            Новая интернет-технология, которая анализирует разные мнения в Сети,
            предсказала конец света 21 декабря 2012 года, сообщает Telegraph.
        </chapter>
        <chapter caption="Американец окончил школу в 97 лет">
            Ветеран Второй мировой войны американец Чарльз Люцци из города Филадельфия (штат Пенсильвания) получил диплом об окончании школы в возрасте 97 лет. Об этом сообщает АР.
            Учебу Люцци был вынужден бросить в старших классах. Ему нужно было зарабатывать деньги и обеспечивать свою семью. Затем он был призван в армию, воевал, был награжден двумя медалями "Пурпурное сердце" и четырьмя медалями "Бронзовая звезда".

            Завершить обучение в школе ветеран смог лишь много лет спустя. Семья поддержала желание ветерана учиться. И Люцци смог получить диплом об окончании школы. По словам его дочери, она просто счастлива, что сбылась мечта жизни ее отца, передает ТАСС.

            Теперь Люцци не исключает, что может поступить в колледж. По его мнению, он вполне мог бы продолжать учиться дальше, ведь в настоящее время других дел у него нет.
        </chapter>
    </div>
</div>