<p colorRed>
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
</p>
<p>
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
</p>

<br /><br /><br />
<ul>
    <li hover-effect bg-color="red">item - 1</li>
    <li hover-effect bg-color="black">item - 2</li>
    <li hover-effect bg-color="yellow">item - 3</li>
    <li hover-effect>item - 4</li>
    <li hover-effect>item - 5</li>
    <li hover-effect bg-color="brown">item - 6</li>
    <li hover-effect>item - 7</li>
    <li hover-effect>item - 8</li>
    <li hover-effect>item - 9</li>
    <li hover-effect>item - 10</li>
</ul>