<p colorRed>
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
</p>
<p>
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
</p>

<br /><br /><br />
<ul>
    <li pointer hover-effect bg-color="red">item - 1</li>
    <li pointer hover-effect bg-color="black">item - 2</li>
    <li pointer hover-effect bg-color="yellow">item - 3</li>
    <li pointer hover-effect>item - 4</li>
    <li pointer hover-effect>item - 5</li>
    <li pointer hover-effect bg-color="brown">item - 6</li>
    <li pointer hover-effect>item - 7</li>
    <li pointer hover-effect>item - 8</li>
    <li pointer hover-effect>item - 9</li>
    <li pointer hover-effect>item - 10</li>
</ul>

<div repeat message="Message №-1" count="5"></div>
<br /><br /><br />
<repeat message="Message №-2" count="5"></repeat>
<br /><br /><br />
<button [confirm]="onDelete">Delete</button>
