<nav>
    <ul>
        <li>
            <a href="/" id="logo">
                <img src="/app/images/logo.png" alt="Alternate Text" />
            </a>
        </li>
        <li class="seperator"></li>
        <li class="caption">Компоненты</li>
        <li>
            <a routerLink="/components/styling" routerLinkActive="active">Стилизация компонента</a>
        </li>
        <li>
            <a routerLink="/components/counters" routerLinkActive="active">Счётчики</a>
        </li>
        <li>
            <a routerLink="/components/custom-event" routerLinkActive="active">Пользовательское событие</a>
        </li>
        <li>
            <a routerLink="/components/accessing-to-childs" routerLinkActive="active">Доступ к дочерним компонентам</a>
        </li>
        <li class="seperator"></li>
        <li class="caption">Директивы</li>
        <li>
            <a routerLink="/directives/classes" routerLinkActive="active">Классы</a>
        </li>
        <li>
            <a routerLink="/directives/styles" routerLinkActive="active">Стили</a>
        </li>
        <li class="seperator"></li>
        <li>
            <a routerLink="/tdf" routerLinkActive="active">Template driven form</a>
        </li>
        <li>
            <a routerLink="/mdf" routerLinkActive="active">Model driven form</a>
        </li>
        <li class="seperator"></li>
        <li>
            <a routerLink="/http" routerLinkActive="active">HTTP (GET)</a>
        </li>
        <li>
            <a routerLink="/http_post" routerLinkActive="active">HTTP (POST)</a>
        </li>
        <li>
            <a routerLink="/headers_n_params" routerLinkActive="active">Headers & Params</a>
        </li>
        <li>
            <a routerLink="/app2" routerLinkActive="active">App 2</a>
        </li>
    </ul>

    <h4>Burhan Hasan 2018</h4>
</nav>