.nav {
    list-style: none;
}

    .nav li {
        display: inline-block;
        border-radius:5px;
        margin:0 5px;
        overflow:hidden;
    }

        .nav li a {
            padding: 5px 10px;
            display: inline-block;
            text-decoration:none;
        }

            .nav li a:hover {
                background-color:bisque;
            }

.active {
    background-color: bisque;
}
